.count {
  background-image: linear-gradient(top, #b8b0af 0%, #f2ecea 100%);
  position: relative;
  font-size: 1.2em;
  font-family: 'Yantramanav', sans-serif;
  font-weight: 900;
  text-align: center;
}
